<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="camera" class="jp.co.rakuten.checkout.sap.Camera"></bean>
	<bean id="logger" class="jp.co.rakuten.checkout.sap.Logger"></bean>
	<aop:config>
		<aop:pointcut
			expression="execution(void jp.co.rakuten.checkout.sap.Camera.takeSnap())"
			id="cameraSnap" />
		<aop:aspect id="logAspect" ref="logger">
			<aop:before method="aboutToSnap" pointcut-ref="cameraSnap" />
		</aop:aspect>
	</aop:config>
</beans>
